In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://ced.neduet.edu.pk/'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.team-name a')]

# Visit each profile page and scrape data
for profile_link in profile_links:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    name_tag = profile_soup.find('h1', class_='')
    role_tag = profile_soup.find('div', class_='job')
    email_tags = profile_soup.find('div', class_='field field--name-field-team-contact field--type-string field--label-hidden field__items').find_all('div', class_='field__item')
    email_tag = email_tags[1] if len(email_tags) > 1 else None

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'
    
    # Append data to faculty_details list
    faculty_details.append({
        'Name': name,
        'Designation': role,
        'Email': email,
    })

# Create a DataFrame
Civil_faculty = pd.DataFrame(faculty_details)

In [ ]:
Civil_faculty

,Name,Designation,Email
0,Dr. Asad-ur-Rehman Khan,Professor and Dean CPL,email: asadkhan@neduet.edu.pk
1,Dr. Abdul Jabbar Sangi,Professor and Chairman,email: ajsangi@neduet.edu.pk
2,Dr. Rizwan Ul Haque Farooqui (On Foreign Leave),Professor,email: rizulhak@neduet.edu.pk
3,Prof. Dr. Sahibzada Farooq Ahmed Rafeeqi,Professor Emeritus,email: srafeeqi@neduet.edu.pk
4,Dr. Syed Imran Ahmed,Professor,email: imranahmed@neduet.edu.pk
5,Dr. Muhammad Shafqat Ejaz,Professor,email: msejaz@neduet.edu.pk
6,Dr. Amanullah Marri,Professor,email: amanmuri@neduet.edu.pk
7,Dr. Haider Hasan,Associate Professor,email: hhasan@neduet.edu.pk
8,Dr. Huma Khalid (On Leave),Associate Professor,N/A
9,Dr. Arjumend Masood,Associate Professor,email: arjumend@neduet.edu.pk
10,Dr. Farrukh Arif,Associate Professor and Post Graduate Coordinator,email: farrukh@neduet.edu.pk
11,Dr. Sadaf Qasim,Associate Professor,email: erum@neduet.edu.pk
12,Dr. Farnaz Batool,Associate Professor,email:fbatool@neduet.edu.pk
13,Dr. Shamsoon Fareed,Associate Professor,email: sfareed@neduet.edu.pk
14,Dr. Syed Salman Mobeen,Assistant Professor,email:ssalman@neduet.edu.pk
15,Dr. Syeda Saria Bukhary,Assistant Professor,email: bukhary@neduet.edu.pk
16,Engr. Farhan Saleem,Assistant Professor,email: farhansaleem@neduet.edu.pk
17,Engr. Muhammad Saqib (On Foreign Leave),Assistant Professor,email: msaqibm@neduet.edu.pk
18,Engr. Haris Akram Bhatti,Assistant Professor,email: bhatti@neduet.edu.pk
19,Dr. Aslam Faqeer Muhammad,Assistant Professor,email: maslam@neduet.edu.pk
20,Dr. Fawwad Masood,Assistant Professor,email: fawwad@neduet.edu.pk
21,Engr. Muhammad Umer (on study leave),Assistant Professor,N/A
22,Engr. Shoaib Ahmed (On Study Leave),Assistant Professor,email: shoaibahmed@neduet.edu.pk
23,Dr. Sajjad Ali,Assistant Professor,email: sajjad.ali@neduet.edu.pk
24,Engr. Syed Muhammad Noman,Assistant Professor,email: syednoman@neduet.edu.pk
25,Dr. Rana Rabnawaz Ahmed,Assistant Professor,email: enawaz@neduet.edu.pk
26,Dr. Wajeeha Mahmood,Assistant Professor,email: wajeehamahmood@neduet.edu.pk
27,Dr. Areba Syed,Assistant Professor,email: arebasyed@cloud.neduet.edu.pk
28,Dr. Fatima Khalid,Assistant Professor,email: fatimak@neduet.edu.pk
29,Engr. Adnan Rais,Lecturer,email: adnanrais@neduet.edu.pk
30,Engr. Hamna Hasan,Lecturer,hamnahasan18@neduet.edu.pk
31,Engr. Faiza Saeed,Lecturer,email: faizasaeed@neduet.edu.pk
32,Engr. Farhan Jamil,Lecturer,email: farhanjamil@neduet.edu.pk
33,Engr. Muhammad Saad Khan,Lecturer,email: saadkhan@neduet.edu.pk
34,Engr. Samra Masood,Lecturer,email: samasood@neduet.edu.pk
35,Engr. Sadia Moin,Lecturer,email: sadiamoin@neduet.edu.pk
36,Engr. Kainaat Nadeem (On Study Leave),Lecturer,email: saimakhan@neduet.edu.pk
37,Engr. Waleed Ahmed Khan,Lecturer,email: waleedahmedkhan@neduet.edu.pk
38,"Engr. Syed Muhammad Shahrukh Ali, PMP",Lecturer,email: alishahrukh@neduet.edu.pk
39,Engr. Tajik Mustafa Shah,Lecturer,email: tajikmustafa@neduet.edu.pk
40,Engr. Yousuf Iqbal,Lecturer,email: myousuf@neduet.edu.pk
41,Engr. Juwairia Asad,Lecturer,email: juwairia@neduet.edu.pk
42,Engr. Muhammad Saad Ifrahim,Lecturer,Email: msaadifrahim@cloud.neduet.edu.pk
43,Engr. Ayesha Akram,Lecturer,email: ayeshaakram@neduet.edu.pk
44,Engr. Syeda Hiba Haider,Lecturer,email: syedahiba@neduet.edu.pk

In [ ]:
Civil_faculty = Civil_faculty[Civil_faculty['Email'] != 'N/A']

In [ ]:
Civil_faculty

,Name,Designation,Email
0,Dr. Asad-ur-Rehman Khan,Professor and Dean CPL,email: asadkhan@neduet.edu.pk
1,Dr. Abdul Jabbar Sangi,Professor and Chairman,email: ajsangi@neduet.edu.pk
2,Dr. Rizwan Ul Haque Farooqui (On Foreign Leave),Professor,email: rizulhak@neduet.edu.pk
3,Prof. Dr. Sahibzada Farooq Ahmed Rafeeqi,Professor Emeritus,email: srafeeqi@neduet.edu.pk
4,Dr. Syed Imran Ahmed,Professor,email: imranahmed@neduet.edu.pk
5,Dr. Muhammad Shafqat Ejaz,Professor,email: msejaz@neduet.edu.pk
6,Dr. Amanullah Marri,Professor,email: amanmuri@neduet.edu.pk
7,Dr. Haider Hasan,Associate Professor,email: hhasan@neduet.edu.pk
9,Dr. Arjumend Masood,Associate Professor,email: arjumend@neduet.edu.pk
10,Dr. Farrukh Arif,Associate Professor and Post Graduate Coordinator,email: farrukh@neduet.edu.pk
11,Dr. Sadaf Qasim,Associate Professor,email: erum@neduet.edu.pk
12,Dr. Farnaz Batool,Associate Professor,email:fbatool@neduet.edu.pk
13,Dr. Shamsoon Fareed,Associate Professor,email: sfareed@neduet.edu.pk
14,Dr. Syed Salman Mobeen,Assistant Professor,email:ssalman@neduet.edu.pk
15,Dr. Syeda Saria Bukhary,Assistant Professor,email: bukhary@neduet.edu.pk
16,Engr. Farhan Saleem,Assistant Professor,email: farhansaleem@neduet.edu.pk
17,Engr. Muhammad Saqib (On Foreign Leave),Assistant Professor,email: msaqibm@neduet.edu.pk
18,Engr. Haris Akram Bhatti,Assistant Professor,email: bhatti@neduet.edu.pk
19,Dr. Aslam Faqeer Muhammad,Assistant Professor,email: maslam@neduet.edu.pk
20,Dr. Fawwad Masood,Assistant Professor,email: fawwad@neduet.edu.pk
22,Engr. Shoaib Ahmed (On Study Leave),Assistant Professor,email: shoaibahmed@neduet.edu.pk
23,Dr. Sajjad Ali,Assistant Professor,email: sajjad.ali@neduet.edu.pk
24,Engr. Syed Muhammad Noman,Assistant Professor,email: syednoman@neduet.edu.pk
25,Dr. Rana Rabnawaz Ahmed,Assistant Professor,email: enawaz@neduet.edu.pk
26,Dr. Wajeeha Mahmood,Assistant Professor,email: wajeehamahmood@neduet.edu.pk
27,Dr. Areba Syed,Assistant Professor,email: arebasyed@cloud.neduet.edu.pk
28,Dr. Fatima Khalid,Assistant Professor,email: fatimak@neduet.edu.pk
29,Engr. Adnan Rais,Lecturer,email: adnanrais@neduet.edu.pk
30,Engr. Hamna Hasan,Lecturer,hamnahasan18@neduet.edu.pk
31,Engr. Faiza Saeed,Lecturer,email: faizasaeed@neduet.edu.pk
32,Engr. Farhan Jamil,Lecturer,email: farhanjamil@neduet.edu.pk
33,Engr. Muhammad Saad Khan,Lecturer,email: saadkhan@neduet.edu.pk
34,Engr. Samra Masood,Lecturer,email: samasood@neduet.edu.pk
35,Engr. Sadia Moin,Lecturer,email: sadiamoin@neduet.edu.pk
36,Engr. Kainaat Nadeem (On Study Leave),Lecturer,email: saimakhan@neduet.edu.pk
37,Engr. Waleed Ahmed Khan,Lecturer,email: waleedahmedkhan@neduet.edu.pk
38,"Engr. Syed Muhammad Shahrukh Ali, PMP",Lecturer,email: alishahrukh@neduet.edu.pk
39,Engr. Tajik Mustafa Shah,Lecturer,email: tajikmustafa@neduet.edu.pk
40,Engr. Yousuf Iqbal,Lecturer,email: myousuf@neduet.edu.pk
41,Engr. Juwairia Asad,Lecturer,email: juwairia@neduet.edu.pk
42,Engr. Muhammad Saad Ifrahim,Lecturer,Email: msaadifrahim@cloud.neduet.edu.pk
43,Engr. Ayesha Akram,Lecturer,email: ayeshaakram@neduet.edu.pk
44,Engr. Syeda Hiba Haider,Lecturer,email: syedahiba@neduet.edu.pk

In [ ]:
# Remove 'email:' prefix from email column
Civil_faculty['Email'] = Civil_faculty['Email'].str.replace('email: ', '')

C:\Users\PC VISION\AppData\Local\Temp\ipykernel_6964\1725202.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Civil_faculty['Email'] = Civil_faculty['Email'].str.replace('email: ', '')

In [ ]:
Civil_faculty

,Name,Designation,Email
0,Dr. Asad-ur-Rehman Khan,Professor and Dean CPL,asadkhan@neduet.edu.pk
1,Dr. Abdul Jabbar Sangi,Professor and Chairman,ajsangi@neduet.edu.pk
2,Dr. Rizwan Ul Haque Farooqui (On Foreign Leave),Professor,rizulhak@neduet.edu.pk
3,Prof. Dr. Sahibzada Farooq Ahmed Rafeeqi,Professor Emeritus,srafeeqi@neduet.edu.pk
4,Dr. Syed Imran Ahmed,Professor,imranahmed@neduet.edu.pk
5,Dr. Muhammad Shafqat Ejaz,Professor,msejaz@neduet.edu.pk
6,Dr. Amanullah Marri,Professor,amanmuri@neduet.edu.pk
7,Dr. Haider Hasan,Associate Professor,hhasan@neduet.edu.pk
9,Dr. Arjumend Masood,Associate Professor,arjumend@neduet.edu.pk
10,Dr. Farrukh Arif,Associate Professor and Post Graduate Coordinator,farrukh@neduet.edu.pk
11,Dr. Sadaf Qasim,Associate Professor,erum@neduet.edu.pk
12,Dr. Farnaz Batool,Associate Professor,email:fbatool@neduet.edu.pk
13,Dr. Shamsoon Fareed,Associate Professor,sfareed@neduet.edu.pk
14,Dr. Syed Salman Mobeen,Assistant Professor,email:ssalman@neduet.edu.pk
15,Dr. Syeda Saria Bukhary,Assistant Professor,bukhary@neduet.edu.pk
16,Engr. Farhan Saleem,Assistant Professor,farhansaleem@neduet.edu.pk
17,Engr. Muhammad Saqib (On Foreign Leave),Assistant Professor,msaqibm@neduet.edu.pk
18,Engr. Haris Akram Bhatti,Assistant Professor,bhatti@neduet.edu.pk
19,Dr. Aslam Faqeer Muhammad,Assistant Professor,maslam@neduet.edu.pk
20,Dr. Fawwad Masood,Assistant Professor,fawwad@neduet.edu.pk
22,Engr. Shoaib Ahmed (On Study Leave),Assistant Professor,shoaibahmed@neduet.edu.pk
23,Dr. Sajjad Ali,Assistant Professor,sajjad.ali@neduet.edu.pk
24,Engr. Syed Muhammad Noman,Assistant Professor,syednoman@neduet.edu.pk
25,Dr. Rana Rabnawaz Ahmed,Assistant Professor,enawaz@neduet.edu.pk
26,Dr. Wajeeha Mahmood,Assistant Professor,wajeehamahmood@neduet.edu.pk
27,Dr. Areba Syed,Assistant Professor,arebasyed@cloud.neduet.edu.pk
28,Dr. Fatima Khalid,Assistant Professor,fatimak@neduet.edu.pk
29,Engr. Adnan Rais,Lecturer,adnanrais@neduet.edu.pk
30,Engr. Hamna Hasan,Lecturer,hamnahasan18@neduet.edu.pk
31,Engr. Faiza Saeed,Lecturer,faizasaeed@neduet.edu.pk
32,Engr. Farhan Jamil,Lecturer,farhanjamil@neduet.edu.pk
33,Engr. Muhammad Saad Khan,Lecturer,saadkhan@neduet.edu.pk
34,Engr. Samra Masood,Lecturer,samasood@neduet.edu.pk
35,Engr. Sadia Moin,Lecturer,sadiamoin@neduet.edu.pk
36,Engr. Kainaat Nadeem (On Study Leave),Lecturer,saimakhan@neduet.edu.pk
37,Engr. Waleed Ahmed Khan,Lecturer,waleedahmedkhan@neduet.edu.pk
38,"Engr. Syed Muhammad Shahrukh Ali, PMP",Lecturer,alishahrukh@neduet.edu.pk
39,Engr. Tajik Mustafa Shah,Lecturer,tajikmustafa@neduet.edu.pk
40,Engr. Yousuf Iqbal,Lecturer,myousuf@neduet.edu.pk
41,Engr. Juwairia Asad,Lecturer,juwairia@neduet.edu.pk
42,Engr. Muhammad Saad Ifrahim,Lecturer,Email: msaadifrahim@cloud.neduet.edu.pk
43,Engr. Ayesha Akram,Lecturer,ayeshaakram@neduet.edu.pk
44,Engr. Syeda Hiba Haider,Lecturer,syedahiba@neduet.edu.pk

Computer Science Faculty

In [ ]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://lums.edu.pk/lums_employee/441'
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

faculty_details = []

# Scrape faculty details
for faculty in soup.find_all('div', class_='faculty-rightside col-sm-8'):
    name_tag = faculty.find('div', class_='faculty-name')
    role_tag = faculty.find('div', class_='faculty-designation')
    email_tag = faculty.find('a')
    
    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'
   
    
    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

df_civil = pd.DataFrame(faculty_details)
df_civil

             name             role               email
0  Dr. Ali Cheema  Vice Chancellor  cheema@lums.edu.pk

actual

In [208]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://lums.edu.pk/faculty-resources'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.item-list a')]

# Process only the first 10 profile links
for profile_link in profile_links[:100]:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    # Extracting the faculty information from the profile page
    name_tag = profile_soup.find('div', class_='faculty-name')
    role_tag = profile_soup.find('div', class_='faculty-designation')
    email_tag = profile_soup.find('div', class_='faculty-email')

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'

    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

# Create a DataFrame
faculty_df = pd.DataFrame(faculty_details)

In [209]:
faculty_df

                         name                 role                     email
0              Dr. Ali Cheema      Vice Chancellor        cheema@lums.edu.pk
1              Dr. Ali Cheema      Vice Chancellor        cheema@lums.edu.pk
2              Dr. Sadaf Aziz                 Dean     sadafaziz@lums.edu.pk
3              Dr. Sadaf Aziz                 Dean     sadafaziz@lums.edu.pk
4                Dr. Ali Khan                 Dean         akhan@lums.edu.pk
..                        ...                  ...                       ...
95        Dr. Farah Hasan Ali  Assistant Professor     farah.ali@lums.edu.pk
96        Dr. Waqas Ali Azhar      Adjunct Faculty   waqas.azhar@lums.edu.pk
97        Dr. Waqas Ali Azhar      Adjunct Faculty   waqas.azhar@lums.edu.pk
98  Dr. Muhammad Hamad Alizai  Associate Professor  hamad.alizai@lums.edu.pk
99  Dr. Muhammad Hamad Alizai  Associate Professor  hamad.alizai@lums.edu.pk

[100 rows x 3 columns]

In [210]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://lums.edu.pk/faculty-resources'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.item-list a')]

# Process only the first 10 profile links
for profile_link in profile_links[100:200]:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    # Extracting the faculty information from the profile page
    name_tag = profile_soup.find('div', class_='faculty-name')
    role_tag = profile_soup.find('div', class_='faculty-designation')
    email_tag = profile_soup.find('div', class_='faculty-email')

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'

    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

# Create a DataFrame
faculty_df1 = pd.DataFrame(faculty_details)

In [211]:
faculty_df1

,name,role,email
0,Dr. Qandeel Almas,Assistant Professor,qandeel.almas@lums.edu.pk
1,Dr. Qandeel Almas,Assistant Professor,qandeel.almas@lums.edu.pk
2,Dr. Syeedda Anjum Ara Alvi,Associate Professor,anjum.alvi@lums.edu.pk
3,Dr. Syeedda Anjum Ara Alvi,Associate Professor,anjum.alvi@lums.edu.pk
4,Mr. Saad Amir,Adjunct Faculty,saad.amir@lums.edu.pk
...,...,...,...
95,Dr. Jessica Catherine Albrent,Assistant Professor,jessica.albrent@lums.edu.pk
96,Dr. Ilyas Ahmad Chattha,Visiting Associate Professor,ilyas.chattha@lums.edu.pk
97,Dr. Ilyas Ahmad Chattha,Visiting Associate Professor,ilyas.chattha@lums.edu.pk
98,Dr. Safee Ullah Chaudhary,Department Chair - Department of Life Sciences,safeeullah@lums.edu.pk
99,Dr. Safee Ullah Chaudhary,Department Chair - Department of Life Sciences,safeeullah@lums.edu.pk

In [212]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://lums.edu.pk/faculty-resources'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.item-list a')]

# Process only the first 10 profile links
for profile_link in profile_links[200:300]:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    # Extracting the faculty information from the profile page
    name_tag = profile_soup.find('div', class_='faculty-name')
    role_tag = profile_soup.find('div', class_='faculty-designation')
    email_tag = profile_soup.find('div', class_='faculty-email')

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'

    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

# Create a DataFrame
faculty_df2 = pd.DataFrame(faculty_details)
faculty_df2

                         name                 role                       email
0   Dr. Muhammad Imran Cheema  Associate Professor    imran.cheema@lums.edu.pk
1   Dr. Muhammad Imran Cheema  Associate Professor    imran.cheema@lums.edu.pk
2     Mr. Nauman Afzal Cheema      Adjunct Faculty   nauman.cheema@lums.edu.pk
3     Mr. Nauman Afzal Cheema      Adjunct Faculty   nauman.cheema@lums.edu.pk
4   Mr. Khalid Farooq Chishti      Adjunct Faculty  khalid.chishti@lums.edu.pk
..                        ...                  ...                         ...
95          Dr. Sarah Humayun  Assistant Professor   sarah.humayun@lums.edu.pk
96   Mr. Shoaib Amjad Hussain      Adjunct Faculty  shoaib.hussain@lums.edu.pk
97   Mr. Shoaib Amjad Hussain      Adjunct Faculty  shoaib.hussain@lums.edu.pk
98         Ms. Sannia Hussain      Adjunct Faculty  sannia.hussain@lums.edu.pk
99         Ms. Sannia Hussain      Adjunct Faculty  sannia.hussain@lums.edu.pk

[100 rows x 3 columns]

In [213]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://lums.edu.pk/faculty-resources'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.item-list a')]

# Process only the first 10 profile links
for profile_link in profile_links[300:400]:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    # Extracting the faculty information from the profile page
    name_tag = profile_soup.find('div', class_='faculty-name')
    role_tag = profile_soup.find('div', class_='faculty-designation')
    email_tag = profile_soup.find('div', class_='faculty-email')

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'

    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

# Create a DataFrame
faculty_df3 = pd.DataFrame(faculty_details)
faculty_df3

,name,role,email
0,Dr. Irshad Hussain,Professor,ihussain@lums.edu.pk
1,Dr. Irshad Hussain,Professor,ihussain@lums.edu.pk
2,Dr. S.M. Turab Hussain,Associate Professor,turab@lums.edu.pk
3,Dr. S.M. Turab Hussain,Associate Professor,turab@lums.edu.pk
4,Dr. Tamkin Hussain,Assistant Professor,tamkin.hussain@lums.edu.pk
...,...,...,...
95,Dr. Jamshed Hasan Khan,Professor Emeritus,jamshed@lums.edu.pk
96,Mr. Muhammad Salaar Arif Khan,Adjunct Faculty,muhammad.salaar@lums.edu.pk
97,Mr. Muhammad Salaar Arif Khan,Adjunct Faculty,muhammad.salaar@lums.edu.pk
98,Ms. Rabia Khan,Teaching Fellow,rabia_khan@lums.edu.pk
99,Ms. Rabia Khan,Teaching Fellow,rabia_khan@lums.edu.pk

In [214]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://lums.edu.pk/faculty-resources'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.item-list a')]

# Process only the first 10 profile links
for profile_link in profile_links[400:500]:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    # Extracting the faculty information from the profile page
    name_tag = profile_soup.find('div', class_='faculty-name')
    role_tag = profile_soup.find('div', class_='faculty-designation')
    email_tag = profile_soup.find('div', class_='faculty-email')

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'

    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

# Create a DataFrame
faculty_df4 = pd.DataFrame(faculty_details)
faculty_df4

                       name                 role                      email
0     Dr. Hassan Abbas Khan  Associate Professor    hassan.khan@lums.edu.pk
1     Dr. Hassan Abbas Khan  Associate Professor    hassan.khan@lums.edu.pk
2     Dr. Ahmed Majeed Khan      Adjunct Faculty   ahmed.majeed@lums.edu.pk
3     Dr. Ahmed Majeed Khan      Adjunct Faculty   ahmed.majeed@lums.edu.pk
4   Ms. Shermeen Ahmed Khan      Adjunct Faculty  shermeen.khan@lums.edu.pk
..                      ...                  ...                        ...
95            Dr. Ijaz Nabi      Adjunct Faculty      ijaz.nabi@lums.edu.pk
96         Dr. Farah Nadeem  Assistant Professor   farah_nadeem@lums.edu.pk
97         Dr. Farah Nadeem  Assistant Professor   farah_nadeem@lums.edu.pk
98          Dr. Imran Naeem  Associate Professor    imran.naeem@lums.edu.pk
99          Dr. Imran Naeem  Associate Professor    imran.naeem@lums.edu.pk

[100 rows x 3 columns]

In [215]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://lums.edu.pk/faculty-resources'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.item-list a')]

# Process only the first 10 profile links
for profile_link in profile_links[500:600]:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    # Extracting the faculty information from the profile page
    name_tag = profile_soup.find('div', class_='faculty-name')
    role_tag = profile_soup.find('div', class_='faculty-designation')
    email_tag = profile_soup.find('div', class_='faculty-email')

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'

    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

# Create a DataFrame
faculty_df5 = pd.DataFrame(faculty_details)
faculty_df5

,name,role,email
0,Dr. Ijaz Haider Naqvi,Associate Professor,ijaznaqvi@lums.edu.pk
1,Dr. Ijaz Haider Naqvi,Associate Professor,ijaznaqvi@lums.edu.pk
2,Dr. Bushra Naqvi,Associate Professor,bushra.naqvi@lums.edu.pk
3,Dr. Bushra Naqvi,Associate Professor,bushra.naqvi@lums.edu.pk
4,Dr. Asim Naseem,Adjunct Faculty,asim.naseem@lums.edu.pk
...,...,...,...
95,Dr. Razia Iram Sadik,Associate Professor,razia.sadik@lums.edu.pk
96,Dr. Muhammad Shakeel Sadiq Jajja,Associate Professor,ssj@lums.edu.pk
97,Dr. Muhammad Shakeel Sadiq Jajja,Associate Professor,ssj@lums.edu.pk
98,Dr. Muhammad Saeed,Associate Professor,muhammad.saeed@lums.edu.pk
99,Dr. Muhammad Saeed,Associate Professor,muhammad.saeed@lums.edu.pk

In [216]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://lums.edu.pk/faculty-resources'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.item-list a')]

# Process only the first 10 profile links
for profile_link in profile_links[600:700]:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    # Extracting the faculty information from the profile page
    name_tag = profile_soup.find('div', class_='faculty-name')
    role_tag = profile_soup.find('div', class_='faculty-designation')
    email_tag = profile_soup.find('div', class_='faculty-email')

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'

    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

# Create a DataFrame
faculty_df6 = pd.DataFrame(faculty_details)
faculty_df6

,name,role,email
0,Dr. Tania Saeed,Associate Professor,tania.saeed@lums.edu.pk
1,Dr. Tania Saeed,Associate Professor,tania.saeed@lums.edu.pk
2,Ms. Rabia Saeed,Adjunct Faculty,rabia.saeed@lums.edu.pk
3,Ms. Rabia Saeed,Adjunct Faculty,rabia.saeed@lums.edu.pk
4,Mr. Hammad Saeed,Adjunct Faculty,hammad.saeed@lums.edu.pk
...,...,...,...
95,Dr. Murtaza Taj,Associate Professor,murtaza.taj@lums.edu.pk
96,Ms. Madiha Tallat,Visiting Assistant Professor,madiha.tallat@lums.edu.pk
97,Ms. Madiha Tallat,Visiting Assistant Professor,madiha.tallat@lums.edu.pk
98,Dr. Misbah Tanveer Choudhry,Assistant Professor,misbah.tanveer@lums.edu.pk
99,Dr. Misbah Tanveer Choudhry,Assistant Professor,misbah.tanveer@lums.edu.pk

In [217]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
from urllib.parse import urljoin

# Main URL
url = 'https://lums.edu.pk/faculty-resources'

# Send a GET request to the main page
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

# List to hold faculty details
faculty_details = []

# Locate the elements containing the profile page links
profile_links = [urljoin(url, link['href']) for link in soup.select('.item-list a')]

# Process only the first 10 profile links
for profile_link in profile_links[700:800]:
    profile_response = requests.get(profile_link)
    profile_soup = BeautifulSoup(profile_response.content, 'html.parser')
    
    # Extracting the faculty information from the profile page
    name_tag = profile_soup.find('div', class_='faculty-name')
    role_tag = profile_soup.find('div', class_='faculty-designation')
    email_tag = profile_soup.find('div', class_='faculty-email')

    name = name_tag.text.strip() if name_tag else 'N/A'
    role = role_tag.text.strip() if role_tag else 'N/A'
    email = email_tag.text.strip() if email_tag else 'N/A'

    faculty_details.append({
        'name': name,
        'role': role,
        'email': email,
    })

# Create a DataFrame
faculty_df7 = pd.DataFrame(faculty_details)
faculty_df7

                       name                 role                        email
0         Mr. Bilal Tanweer  Associate Professor    bilal.tanweer@lums.edu.pk
1         Mr. Bilal Tanweer  Associate Professor    bilal.tanweer@lums.edu.pk
2        Dr. Muhammad Tariq            Professor          m.tariq@lums.edu.pk
3        Dr. Muhammad Tariq            Professor          m.tariq@lums.edu.pk
4          Mr. Humbal Tariq      Adjunct Faculty     humbal.tariq@lums.edu.pk
..                      ...                  ...                          ...
71  Dr. Ghazal Mir Zulfiqar  Associate Professor  ghazal.zulfiqar@lums.edu.pk
72       Dr. Sadia Zulfiqar  Assistant Professor   sadia.zulfiqar@lums.edu.pk
73       Dr. Sadia Zulfiqar  Assistant Professor   sadia.zulfiqar@lums.edu.pk
74    Mr. Asim Zulfiqar Ali      Adjunct Faculty    asim.zulfiqar@lums.edu.pk
75    Mr. Asim Zulfiqar Ali      Adjunct Faculty    asim.zulfiqar@lums.edu.pk

[76 rows x 3 columns]

In [218]:
import pandas as pd

# Assuming faculty_df, faculty_df1 to faculty_df7 are your DataFrames
dfs = [faculty_df, faculty_df1, faculty_df2, faculty_df3, faculty_df4, faculty_df5, faculty_df6, faculty_df7]

# Combine all DataFrames into one
combined_df = pd.concat(dfs, ignore_index=True)

# Rename the columns
combined_df.columns = ['Name', 'Designation', 'Email']

# Print the combined DataFrame
combined_df

                        Name          Designation                        Email
0             Dr. Ali Cheema      Vice Chancellor           cheema@lums.edu.pk
1             Dr. Ali Cheema      Vice Chancellor           cheema@lums.edu.pk
2             Dr. Sadaf Aziz                 Dean        sadafaziz@lums.edu.pk
3             Dr. Sadaf Aziz                 Dean        sadafaziz@lums.edu.pk
4               Dr. Ali Khan                 Dean            akhan@lums.edu.pk
..                       ...                  ...                          ...
771  Dr. Ghazal Mir Zulfiqar  Associate Professor  ghazal.zulfiqar@lums.edu.pk
772       Dr. Sadia Zulfiqar  Assistant Professor   sadia.zulfiqar@lums.edu.pk
773       Dr. Sadia Zulfiqar  Assistant Professor   sadia.zulfiqar@lums.edu.pk
774    Mr. Asim Zulfiqar Ali      Adjunct Faculty    asim.zulfiqar@lums.edu.pk
775    Mr. Asim Zulfiqar Ali      Adjunct Faculty    asim.zulfiqar@lums.edu.pk

[776 rows x 3 columns]

In [220]:
# Identify duplicate rows
duplicates = combined_df[combined_df.duplicated()]

# Print duplicate rows
print("Duplicate Rows:")
duplicates

Duplicate Rows:

,Name,Designation,Email
1,Dr. Ali Cheema,Vice Chancellor,cheema@lums.edu.pk
3,Dr. Sadaf Aziz,Dean,sadafaziz@lums.edu.pk
5,Dr. Ali Khan,Dean,akhan@lums.edu.pk
7,Dr. Walther Schwarzacher,Dean,walther@lums.edu.pk
9,Dr. Fazal Jawad Seyyed,Dean,fazal.jawad@lums.edu.pk
...,...,...,...
767,Dr. Salma Zaman,Assistant Professor,salma.zaman@lums.edu.pk
769,Dr. Adam Zaman Chaudhry,Associate Professor,adam.zaman@lums.edu.pk
771,Dr. Ghazal Mir Zulfiqar,Associate Professor,ghazal.zulfiqar@lums.edu.pk
773,Dr. Sadia Zulfiqar,Assistant Professor,sadia.zulfiqar@lums.edu.pk
775,Mr. Asim Zulfiqar Ali,Adjunct Faculty,asim.zulfiqar@lums.edu.pk

In [222]:
# Remove duplicate rows based on all columns
combined_df = combined_df.drop_duplicates()

# Reset the index
combined_df = combined_df.reset_index(drop=True)

# Print the DataFrame to confirm duplicates are removed
combined_df

,Name,Designation,Email
0,Dr. Ali Cheema,Vice Chancellor,cheema@lums.edu.pk
1,Dr. Sadaf Aziz,Dean,sadafaziz@lums.edu.pk
2,Dr. Ali Khan,Dean,akhan@lums.edu.pk
3,Dr. Walther Schwarzacher,Dean,walther@lums.edu.pk
4,Dr. Fazal Jawad Seyyed,Dean,fazal.jawad@lums.edu.pk
...,...,...,...
383,Dr. Salma Zaman,Assistant Professor,salma.zaman@lums.edu.pk
384,Dr. Adam Zaman Chaudhry,Associate Professor,adam.zaman@lums.edu.pk
385,Dr. Ghazal Mir Zulfiqar,Associate Professor,ghazal.zulfiqar@lums.edu.pk
386,Dr. Sadia Zulfiqar,Assistant Professor,sadia.zulfiqar@lums.edu.pk
387,Mr. Asim Zulfiqar Ali,Adjunct Faculty,asim.zulfiqar@lums.edu.pk

In [228]:
import pandas as pd

# Assuming combined_df is already defined and contains your data

# Identify rows with any missing values
na_rows = combined_df[combined_df.isna().any(axis=1)]
print("Rows with missing values:")
na_rows

# Identify completely empty rows
empty_rows = combined_df[combined_df.isnull().all(axis=1)]
print("Completely empty rows:")
empty_rows

# Count the number of missing values in each column
na_counts = combined_df.isna().sum()
print("Count of missing values in each column:")
na_counts

# Identify rows with any empty strings
empty_string_rows = combined_df[(combined_df == '').any(axis=1)]
print("Rows with empty strings:")
empty_string_rows

# Remove rows with any missing values
combined_df_cleaned = combined_df.dropna()
print("DataFrame after removing rows with missing values:")
combined_df_cleaned

# Reset the index of the cleaned DataFrame
combined_df_cleaned = combined_df_cleaned.reset_index(drop=True)
print("DataFrame after resetting index:")
combined_df_cleaned

Rows with missing values:
Completely empty rows:
Count of missing values in each column:
Rows with empty strings:
DataFrame after removing rows with missing values:
DataFrame after resetting index:

,Name,Designation,Email
0,Dr. Ali Cheema,Vice Chancellor,cheema@lums.edu.pk
1,Dr. Sadaf Aziz,Dean,sadafaziz@lums.edu.pk
2,Dr. Ali Khan,Dean,akhan@lums.edu.pk
3,Dr. Walther Schwarzacher,Dean,walther@lums.edu.pk
4,Dr. Fazal Jawad Seyyed,Dean,fazal.jawad@lums.edu.pk
...,...,...,...
383,Dr. Salma Zaman,Assistant Professor,salma.zaman@lums.edu.pk
384,Dr. Adam Zaman Chaudhry,Associate Professor,adam.zaman@lums.edu.pk
385,Dr. Ghazal Mir Zulfiqar,Associate Professor,ghazal.zulfiqar@lums.edu.pk
386,Dr. Sadia Zulfiqar,Assistant Professor,sadia.zulfiqar@lums.edu.pk
387,Mr. Asim Zulfiqar Ali,Adjunct Faculty,asim.zulfiqar@lums.edu.pk

In [229]:
combined_df_cleaned.to_csv('LUMS_Data.csv')